USE [master]
GO
/****** Object:  Database [EcoFarmDB]    Script Date: 14.05.2023 20:21:52 ******/
CREATE DATABASE [EcoFarmDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EcoFarmDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EcoFarmDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EcoFarmDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EcoFarmDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EcoFarmDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EcoFarmDB]
GO
/****** Object:  Table [dbo].[AlbumFish]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumFish](
	[IdAlbumPhoto] [int] IDENTITY(1,1) NOT NULL,
	[IdFish] [int] NOT NULL,
	[Photo] [text] NOT NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_AlbumFish] PRIMARY KEY CLUSTERED 
(
	[IdAlbumPhoto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlbumPlants]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumPlants](
	[IdAlbumPhoto] [int] IDENTITY(1,1) NOT NULL,
	[IdPlant] [int] NOT NULL,
	[Photo] [text] NOT NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_AlbumPlants] PRIMARY KEY CLUSTERED 
(
	[IdAlbumPhoto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aquariums]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aquariums](
	[IdAquarium] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[IdFish] [int] NOT NULL,
	[BoardingDate] [date] NOT NULL,
	[CollectionDate] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Expenses] [float] NOT NULL,
	[Size] [float] NOT NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Aquariums] PRIMARY KEY CLUSTERED 
(
	[IdAquarium] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BudgetHistory]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BudgetHistory](
	[IdHistory] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[IdOperation] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_BudgetHistory] PRIMARY KEY CLUSTERED 
(
	[IdHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompletedWorkHistory]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompletedWorkHistory](
	[IdHistory] [int] IDENTITY(1,1) NOT NULL,
	[IdPlace] [int] NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[ContentName] [nvarchar](150) NOT NULL,
	[WorkName] [nvarchar](100) NOT NULL,
	[DateOfWork] [date] NOT NULL,
	[UserSurname] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPatronymic] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_WorkHistory] PRIMARY KEY CLUSTERED 
(
	[IdHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CurrentWorks]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrentWorks](
	[IdField] [int] NOT NULL,
	[IdWork] [int] NOT NULL,
	[DateOfNextWork] [date] NOT NULL,
 CONSTRAINT [PK_CurrentWorks_1] PRIMARY KEY CLUSTERED 
(
	[IdField] ASC,
	[IdWork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CurrentWorksForFishFarming]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrentWorksForFishFarming](
	[IdAquarium] [int] NOT NULL,
	[IdWork] [int] NOT NULL,
	[DateOfNextWork] [date] NOT NULL,
 CONSTRAINT [PK_CurrentWorksForFishFarming] PRIMARY KEY CLUSTERED 
(
	[IdAquarium] ASC,
	[IdWork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fields]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fields](
	[IdField] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[IdPlant] [int] NOT NULL,
	[BoardingDate] [date] NOT NULL,
	[CollectionDate] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Expenses] [float] NOT NULL,
	[Size] [float] NOT NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Fields] PRIMARY KEY CLUSTERED 
(
	[IdField] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fish]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fish](
	[IdFish] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[GrowthPeriodInDays] [int] NOT NULL,
	[ImageOfTheFish] [text] NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Fish] PRIMARY KEY CLUSTERED 
(
	[IdFish] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FishWork]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FishWork](
	[IdFish] [int] NOT NULL,
	[IdWork] [int] NOT NULL,
	[PeriodInDays] [int] NOT NULL,
 CONSTRAINT [PK_FishWork] PRIMARY KEY CLUSTERED 
(
	[IdFish] ASC,
	[IdWork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HarvestingHistory]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HarvestingHistory](
	[IdHistory] [int] IDENTITY(1,1) NOT NULL,
	[IdPlace] [int] NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[ContentName] [nvarchar](150) NOT NULL,
	[BoardingDate] [date] NOT NULL,
	[DateOfHarvest] [date] NOT NULL,
	[CropWeight] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Expenses] [float] NOT NULL,
	[Size] [float] NOT NULL,
	[SalePrice] [float] NULL,
	[UserSurname] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPatronymic] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HarvestingHistory] PRIMARY KEY CLUSTERED 
(
	[IdHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListOfWorks]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfWorks](
	[IdWork] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ListOfWorks] PRIMARY KEY CLUSTERED 
(
	[IdWork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListOfWorksForFishFarming]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfWorksForFishFarming](
	[IdWork] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ListOfWorksForFishFarming] PRIMARY KEY CLUSTERED 
(
	[IdWork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceForHistory]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceForHistory](
	[IdPlace] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_WorkPlaceForHistory] PRIMARY KEY CLUSTERED 
(
	[IdPlace] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plants]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plants](
	[IdPlant] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[GrowthPeriodInDays] [int] NOT NULL,
	[ImageOfThePlant] [text] NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Plants] PRIMARY KEY CLUSTERED 
(
	[IdPlant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantWork]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantWork](
	[IdPlant] [int] NOT NULL,
	[IdWork] [int] NOT NULL,
	[PeriodInDays] [int] NOT NULL,
 CONSTRAINT [PK_PlantWork] PRIMARY KEY CLUSTERED 
(
	[IdPlant] ASC,
	[IdWork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfOperation]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfOperation](
	[IdOperation] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TypeOfOperation] PRIMARY KEY CLUSTERED 
(
	[IdOperation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.05.2023 20:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[IdRole] [int] NOT NULL,
	[Phone] [nvarchar](11) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AlbumFish] ON 

INSERT [dbo].[AlbumFish] ([IdAlbumPhoto], [IdFish], [Photo], [Note]) VALUES (3, 1, N'9355165390.png', NULL)
INSERT [dbo].[AlbumFish] ([IdAlbumPhoto], [IdFish], [Photo], [Note]) VALUES (4, 1, N'2221088157.png', NULL)
INSERT [dbo].[AlbumFish] ([IdAlbumPhoto], [IdFish], [Photo], [Note]) VALUES (5, 1, N'9818016739.png', N'Помёт мальков окуня')
SET IDENTITY_INSERT [dbo].[AlbumFish] OFF
GO
SET IDENTITY_INSERT [dbo].[AlbumPlants] ON 

INSERT [dbo].[AlbumPlants] ([IdAlbumPhoto], [IdPlant], [Photo], [Note]) VALUES (31, 1, N'2589665856.png', N'Пакет семян моркови Соломон F1')
INSERT [dbo].[AlbumPlants] ([IdAlbumPhoto], [IdPlant], [Photo], [Note]) VALUES (32, 1, N'1223851033.png', N'Собранный урожай')
INSERT [dbo].[AlbumPlants] ([IdAlbumPhoto], [IdPlant], [Photo], [Note]) VALUES (33, 1, N'3600666219.png', N'Морковь')
SET IDENTITY_INSERT [dbo].[AlbumPlants] OFF
GO
SET IDENTITY_INSERT [dbo].[Aquariums] ON 

INSERT [dbo].[Aquariums] ([IdAquarium], [Number], [IdFish], [BoardingDate], [CollectionDate], [Quantity], [Expenses], [Size], [Note]) VALUES (2, N'Окунь С-1', 1, CAST(N'2023-04-30' AS Date), CAST(N'2023-10-27' AS Date), 18, 3600, 60, N'Выпущено 18 мальков')
SET IDENTITY_INSERT [dbo].[Aquariums] OFF
GO
SET IDENTITY_INSERT [dbo].[BudgetHistory] ON 

INSERT [dbo].[BudgetHistory] ([IdHistory], [Name], [IdOperation], [Amount], [Date]) VALUES (1, N'Затраты на мальков', 2, 2300, CAST(N'2023-05-12' AS Date))
INSERT [dbo].[BudgetHistory] ([IdHistory], [Name], [IdOperation], [Amount], [Date]) VALUES (2, N'Электроэнергия за апрель', 2, 7322.43, CAST(N'2023-05-12' AS Date))
INSERT [dbo].[BudgetHistory] ([IdHistory], [Name], [IdOperation], [Amount], [Date]) VALUES (3, N'Затраты на семена', 2, 3200, CAST(N'2023-05-12' AS Date))
SET IDENTITY_INSERT [dbo].[BudgetHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[CompletedWorkHistory] ON 

INSERT [dbo].[CompletedWorkHistory] ([IdHistory], [IdPlace], [Number], [ContentName], [WorkName], [DateOfWork], [UserSurname], [UserName], [UserPatronymic]) VALUES (1, 1, N'Т-1', N'Томат "Пиноккио"', N'Полив', CAST(N'2023-05-01' AS Date), N'Зуев', N'Александр', N'Николаевич')
INSERT [dbo].[CompletedWorkHistory] ([IdHistory], [IdPlace], [Number], [ContentName], [WorkName], [DateOfWork], [UserSurname], [UserName], [UserPatronymic]) VALUES (2, 2, N'Окунь С-1', N'Окунь стеклянный', N'Кормёжка', CAST(N'2023-04-30' AS Date), N'Зуев', N'Александр', N'Николаевич')
INSERT [dbo].[CompletedWorkHistory] ([IdHistory], [IdPlace], [Number], [ContentName], [WorkName], [DateOfWork], [UserSurname], [UserName], [UserPatronymic]) VALUES (3, 1, N'Т-1', N'Томат "Пиноккио"', N'Полив', CAST(N'2023-05-02' AS Date), N'Зуев', N'Александр', N'Николаевич')
SET IDENTITY_INSERT [dbo].[CompletedWorkHistory] OFF
GO
INSERT [dbo].[CurrentWorks] ([IdField], [IdWork], [DateOfNextWork]) VALUES (8, 1, CAST(N'2023-05-15' AS Date))
INSERT [dbo].[CurrentWorks] ([IdField], [IdWork], [DateOfNextWork]) VALUES (8, 2, CAST(N'2023-05-27' AS Date))
INSERT [dbo].[CurrentWorks] ([IdField], [IdWork], [DateOfNextWork]) VALUES (8, 3, CAST(N'2023-05-09' AS Date))
GO
INSERT [dbo].[CurrentWorksForFishFarming] ([IdAquarium], [IdWork], [DateOfNextWork]) VALUES (2, 5, CAST(N'2023-05-14' AS Date))
INSERT [dbo].[CurrentWorksForFishFarming] ([IdAquarium], [IdWork], [DateOfNextWork]) VALUES (2, 6, CAST(N'2023-05-12' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Fields] ON 

INSERT [dbo].[Fields] ([IdField], [Number], [IdPlant], [BoardingDate], [CollectionDate], [Quantity], [Expenses], [Size], [Note]) VALUES (8, N'М-1', 1, CAST(N'2023-03-28' AS Date), CAST(N'2023-08-05' AS Date), 120, 3400, 4.7, N'Дополнительно необходимо посыпать удобрением')
INSERT [dbo].[Fields] ([IdField], [Number], [IdPlant], [BoardingDate], [CollectionDate], [Quantity], [Expenses], [Size], [Note]) VALUES (10, N'Т-1', 3, CAST(N'2023-03-26' AS Date), CAST(N'2023-04-25' AS Date), 70, 2300, 4.2, NULL)
INSERT [dbo].[Fields] ([IdField], [Number], [IdPlant], [BoardingDate], [CollectionDate], [Quantity], [Expenses], [Size], [Note]) VALUES (15, N'Ч-4', 6, CAST(N'2023-05-14' AS Date), CAST(N'2023-06-18' AS Date), 14, 140, 1.4, NULL)
SET IDENTITY_INSERT [dbo].[Fields] OFF
GO
SET IDENTITY_INSERT [dbo].[Fish] ON 

SET IDENTITY_INSERT [dbo].[Fish] OFF
GO
INSERT [dbo].[FishWork] ([IdFish], [IdWork], [PeriodInDays]) VALUES (1, 5, 14)
INSERT [dbo].[FishWork] ([IdFish], [IdWork], [PeriodInDays]) VALUES (1, 6, 3)
GO
SET IDENTITY_INSERT [dbo].[HarvestingHistory] ON 

INSERT [dbo].[HarvestingHistory] ([IdHistory], [IdPlace], [Number], [ContentName], [BoardingDate], [DateOfHarvest], [CropWeight], [Quantity], [Expenses], [Size], [SalePrice], [UserSurname], [UserName], [UserPatronymic]) VALUES (1, 1, N'Ч-1', N'Чеснок Добрыня', CAST(N'2023-03-27' AS Date), CAST(N'2023-05-12' AS Date), 12.3, 80, 2500, 3.5, 3200, N'Зуев', N'Александр', N'Николаевич')
SET IDENTITY_INSERT [dbo].[HarvestingHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[ListOfWorks] ON 

INSERT [dbo].[ListOfWorks] ([IdWork], [Name]) VALUES (6, N'Внесение удобрений')
INSERT [dbo].[ListOfWorks] ([IdWork], [Name]) VALUES (3, N'Окучивание')
INSERT [dbo].[ListOfWorks] ([IdWork], [Name]) VALUES (1, N'Полив')
SET IDENTITY_INSERT [dbo].[ListOfWorks] OFF
GO
SET IDENTITY_INSERT [dbo].[ListOfWorksForFishFarming] ON 

INSERT [dbo].[ListOfWorksForFishFarming] ([IdWork], [Name]) VALUES (5, N'Чистка аквариума')
INSERT [dbo].[ListOfWorksForFishFarming] ([IdWork], [Name]) VALUES (6, N'Кормёжка')
SET IDENTITY_INSERT [dbo].[ListOfWorksForFishFarming] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaceForHistory] ON 

INSERT [dbo].[PlaceForHistory] ([IdPlace], [Name]) VALUES (1, N'Поле')
INSERT [dbo].[PlaceForHistory] ([IdPlace], [Name]) VALUES (2, N'Аквариум')
SET IDENTITY_INSERT [dbo].[PlaceForHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Plants] ON 

INSERT [dbo].[Plants] ([IdPlant], [Name], [GrowthPeriodInDays], [ImageOfThePlant], [Description], [Note]) VALUES (1, N'Морковь Соломон F1', 130, N'8537019889.png', N'Среднеспелый(120-140 дней от посева до сбора) гибрид. Корнеплоды цилиндрические, с гладкой поверхностью, ярко-оранжевой окраски. Длина корнеплода 20-25 см. Используется для употребления в свежем виде и для переработки.', N'Дополнительно поливать, если почва сухая')
INSERT [dbo].[Plants] ([IdPlant], [Name], [GrowthPeriodInDays], [ImageOfThePlant], [Description], [Note]) VALUES (3, N'Томат "Пиноккио"', 30, N'1361615296.png', N'Сорт среднеспелый. Можно выращивать круглый год в квартире. Плоды округлые, красные.Очень вкусные и сладкие, идеальны для засолки.', NULL)
INSERT [dbo].[Plants] ([IdPlant], [Name], [GrowthPeriodInDays], [ImageOfThePlant], [Description], [Note]) VALUES (4, N'Лук репчатый Эксибишен', 68, N'2905039475.png', N'Лучший сорт салатного лука из Голландии. Луковица крупная, овальная, с чешуей золотистого цвета, средней массой 500-600 г ( может вырастать до 1,0 кг). Очень сочная. Вкус сладкий, с легкой остротой. Великолепен в салатах.', NULL)
SET IDENTITY_INSERT [dbo].[Plants] OFF
GO
INSERT [dbo].[PlantWork] ([IdPlant], [IdWork], [PeriodInDays]) VALUES (1, 1, 4)
INSERT [dbo].[PlantWork] ([IdPlant], [IdWork], [PeriodInDays]) VALUES (1, 2, 15)
INSERT [dbo].[PlantWork] ([IdPlant], [IdWork], [PeriodInDays]) VALUES (1, 3, 7)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRole], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([IdRole], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([IdRole], [Name]) VALUES (3, N'Сотрудник')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeOfOperation] ON 

INSERT [dbo].[TypeOfOperation] ([IdOperation], [Name]) VALUES (1, N'Приход')
INSERT [dbo].[TypeOfOperation] ([IdOperation], [Name]) VALUES (2, N'Расход')
SET IDENTITY_INSERT [dbo].[TypeOfOperation] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([IdUser], [Login], [Password], [Surname], [Name], [Patronymic], [IdRole], [Phone], [Email]) VALUES (1, N'1', N'1', N'Зуев', N'Александр', N'Николаевич', 1, N'89520957073', N'vodi4ka.note@yandex.ru')
INSERT [dbo].[Users] ([IdUser], [Login], [Password], [Surname], [Name], [Patronymic], [IdRole], [Phone], [Email]) VALUES (2, N'2', N'2', N'Иванов', N'Иван', N'Иванович', 2, N'89543453434', N'user17.email@mail.ru')
INSERT [dbo].[Users] ([IdUser], [Login], [Password], [Surname], [Name], [Patronymic], [IdRole], [Phone], [Email]) VALUES (4, N'3', N'3', N'Петров', N'Петр', N'Петрович', 3, N'89543567324', N'user32.work@mail.ru')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_Number_Fields]    Script Date: 14.05.2023 20:21:53 ******/
ALTER TABLE [dbo].[Fields] ADD  CONSTRAINT [UN_Number_Fields] UNIQUE NONCLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_Name_ListOfWorks]    Script Date: 14.05.2023 20:21:53 ******/
ALTER TABLE [dbo].[ListOfWorks] ADD  CONSTRAINT [UN_Name_ListOfWorks] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_Name_Plants]    Script Date: 14.05.2023 20:21:53 ******/
ALTER TABLE [dbo].[Plants] ADD  CONSTRAINT [UN_Name_Plants] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_Name_Roles]    Script Date: 14.05.2023 20:21:53 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UN_Name_Roles] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IU_Login_Users]    Script Date: 14.05.2023 20:21:53 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [IU_Login_Users] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_Email_Users]    Script Date: 14.05.2023 20:21:53 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UN_Email_Users] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlbumPlants] ADD  CONSTRAINT [DF_AlbumPlants_Note]  DEFAULT (NULL) FOR [Note]
GO
ALTER TABLE [dbo].[AlbumFish]  WITH CHECK ADD  CONSTRAINT [FK_AlbumFish_Fish] FOREIGN KEY([IdFish])
REFERENCES [dbo].[Fish] ([IdFish])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlbumFish] CHECK CONSTRAINT [FK_AlbumFish_Fish]
GO
ALTER TABLE [dbo].[AlbumPlants]  WITH CHECK ADD  CONSTRAINT [FK_AlbumPlants_Plants] FOREIGN KEY([IdPlant])
REFERENCES [dbo].[Plants] ([IdPlant])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlbumPlants] CHECK CONSTRAINT [FK_AlbumPlants_Plants]
GO
ALTER TABLE [dbo].[Aquariums]  WITH CHECK ADD  CONSTRAINT [FK_Aquariums_Fish] FOREIGN KEY([IdFish])
REFERENCES [dbo].[Fish] ([IdFish])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Aquariums] CHECK CONSTRAINT [FK_Aquariums_Fish]
GO
ALTER TABLE [dbo].[BudgetHistory]  WITH CHECK ADD  CONSTRAINT [FK_BudgetHistory_TypeOfOperation] FOREIGN KEY([IdOperation])
REFERENCES [dbo].[TypeOfOperation] ([IdOperation])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BudgetHistory] CHECK CONSTRAINT [FK_BudgetHistory_TypeOfOperation]
GO
ALTER TABLE [dbo].[CompletedWorkHistory]  WITH CHECK ADD  CONSTRAINT [FK_CompletedWorkHistory_WorkPlaceForHistory] FOREIGN KEY([IdPlace])
REFERENCES [dbo].[PlaceForHistory] ([IdPlace])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompletedWorkHistory] CHECK CONSTRAINT [FK_CompletedWorkHistory_WorkPlaceForHistory]
GO
ALTER TABLE [dbo].[CurrentWorks]  WITH CHECK ADD  CONSTRAINT [FK_CurrentWorks_Fields] FOREIGN KEY([IdField])
REFERENCES [dbo].[Fields] ([IdField])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CurrentWorks] CHECK CONSTRAINT [FK_CurrentWorks_Fields]
GO
ALTER TABLE [dbo].[CurrentWorks]  WITH CHECK ADD  CONSTRAINT [FK_CurrentWorks_ListOfWorks] FOREIGN KEY([IdWork])
REFERENCES [dbo].[ListOfWorks] ([IdWork])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CurrentWorks] CHECK CONSTRAINT [FK_CurrentWorks_ListOfWorks]
GO
ALTER TABLE [dbo].[CurrentWorksForFishFarming]  WITH CHECK ADD  CONSTRAINT [FK_CurrentWorksForFishFarming_Aquariums] FOREIGN KEY([IdAquarium])
REFERENCES [dbo].[Aquariums] ([IdAquarium])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CurrentWorksForFishFarming] CHECK CONSTRAINT [FK_CurrentWorksForFishFarming_Aquariums]
GO
ALTER TABLE [dbo].[CurrentWorksForFishFarming]  WITH CHECK ADD  CONSTRAINT [FK_CurrentWorksForFishFarming_ListOfWorksForFishFarming] FOREIGN KEY([IdWork])
REFERENCES [dbo].[ListOfWorksForFishFarming] ([IdWork])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CurrentWorksForFishFarming] CHECK CONSTRAINT [FK_CurrentWorksForFishFarming_ListOfWorksForFishFarming]
GO
ALTER TABLE [dbo].[Fields]  WITH CHECK ADD  CONSTRAINT [FK_Fields_Plants] FOREIGN KEY([IdPlant])
REFERENCES [dbo].[Plants] ([IdPlant])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fields] CHECK CONSTRAINT [FK_Fields_Plants]
GO
ALTER TABLE [dbo].[FishWork]  WITH CHECK ADD  CONSTRAINT [FK_FishWork_Fish] FOREIGN KEY([IdFish])
REFERENCES [dbo].[Fish] ([IdFish])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FishWork] CHECK CONSTRAINT [FK_FishWork_Fish]
GO
ALTER TABLE [dbo].[FishWork]  WITH CHECK ADD  CONSTRAINT [FK_FishWork_ListOfWorksForFishFarming] FOREIGN KEY([IdWork])
REFERENCES [dbo].[ListOfWorksForFishFarming] ([IdWork])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FishWork] CHECK CONSTRAINT [FK_FishWork_ListOfWorksForFishFarming]
GO
ALTER TABLE [dbo].[HarvestingHistory]  WITH CHECK ADD  CONSTRAINT [FK_HarvestingHistory_PlaceForHistory] FOREIGN KEY([IdPlace])
REFERENCES [dbo].[PlaceForHistory] ([IdPlace])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HarvestingHistory] CHECK CONSTRAINT [FK_HarvestingHistory_PlaceForHistory]
GO
ALTER TABLE [dbo].[PlantWork]  WITH CHECK ADD  CONSTRAINT [FK_PlantWork_ListOfWorks] FOREIGN KEY([IdWork])
REFERENCES [dbo].[ListOfWorks] ([IdWork])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlantWork] CHECK CONSTRAINT [FK_PlantWork_ListOfWorks]
GO
ALTER TABLE [dbo].[PlantWork]  WITH CHECK ADD  CONSTRAINT [FK_PlantWork_Plants] FOREIGN KEY([IdPlant])
REFERENCES [dbo].[Plants] ([IdPlant])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlantWork] CHECK CONSTRAINT [FK_PlantWork_Plants]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Roles] ([IdRole])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
